{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>A pizza place!</title>

    <link rel="stylesheet" href={% static "orders/css/main.css" %}>
  </head>
  <body>
    {% block scripts %}{% endblock %}
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        {% if not user.is_authenticated %}
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        {% else %}
        <li><a href="/orders">Orders</a></li>
        <li><a href="/logout">Logout</a></li>
        {% endif %}

      </ul>
    </nav>
    <div class="error_msg">
      {{ msg }}
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
