<script src="{{ url_for('static', filename='chat.js') }}"></script>
<p>Hello {{ session["user_name"] }}</p>

<select id="channel_list"></select>

</select>

<form id="add_channel">
  <input type="text" name="channel_name" id="channel_name">
  <button type="submit" name="button">Add channel</button>
</form>

<div id="chat_container">
  <div id="messages"></div>
  <form id="send_message">
    <textarea name="send_message" rows="8" cols="80"></textarea>
    <button type="button" name="button">Send</button>
  </form>
</div>
