{% extends "layout.html" %}

{% block title %}
  My app
{% endblock %}

{% block scripts %}
<script>let socket = io.connect('http://' + document.domain + ':' + location.port);</script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
<script src="{{ url_for('static', filename='login.js') }}"></script>
<script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}

{% block main %}
  {% if not session["user_name"] %}
    {% include 'login.html' %}
  {% else %}
    <script>get_channels()</script>
    {% include 'chat.html' %}
  {% endif %}
{% endblock %}
